<ft-panel>
    <ft-form>
        <div class="col-md-6 col-sm-6 col-xs-12">

            <ft-form-text type="radio" source="companyType" ng-model="model.dataModel.typeOfCompany" name="typeOfCompany" labeltext="Type Of Company" required="true"></ft-form-text>
            
            <!-- Name attribute require to check duplicate -->
            <ft-form-text ng-model="model.dataModel.companyName" check-duplicate-in="model.dataList" name="companyName" labeltext="Company Name" required="true"></ft-form-text> 

            <ft-form-text ng-model="model.dataModel.address" name="address" labeltext="Address" required="true"></ft-form-text>

            <div ng-if="model.dataModel.typeOfCompany == 'S'">
                <search-dropdown ng-model="owner.name" selecteditem="owner.selecteditem" source="owner.source.dataList" name="owner" labeltext="Propriteship" required="true" displayname="name"></search-dropdown>
            </div>

            <div ng-if="model.dataModel.typeOfCompany == 'P'">
                <ft-tag-input name="owner" minlen="2" ng-model="selectedTags" source="owner.source.dataList" labeltext="Add Partners" displayname="name"></ft-tag-input>
            </div>

            <ft-form-text type="email" ng-model="model.dataModel.email" name="email" labeltext="Email"></ft-form-text>                
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">

            <ft-form-text ng-model="model.dataModel.ssi" name="ssi" labeltext="SSI NO"></ft-form-text>

            <ft-form-text ng-model="model.dataModel.pan" name="pan" labeltext="PAN NO" maxlength="10" pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}"></ft-form-text>

            <ft-form-text ng-model="model.dataModel.tan" name="tan" labeltext="TAN NO"></ft-form-text>

            <ft-form-text ng-model="model.dataModel.serviceTaxNumber" name="serviceTaxNumber" labeltext="Service Tax"></ft-form-text>
            
            <ft-form-text ng-model="model.dataModel.phone" name="phone" labeltext="Phone Number" minlength="10" maxlength="10" number="true"></ft-form-text>
            
        </div> 
    </ft-form>       
</ft-panel>
