<ft-panel>                            
    <table class="table table-striped table-bordered table-hover no-margin">
        <thead>
            <tr>
                <th>#ID</th>
                <th class="hidden-phone">Driver Name</th>
                <th>Vechile No</th>
                <th>Dealer</th>
                <th class="hidden-phone">Current Odometer Reading</th>
                <th class="hidden-phone">Fuel Quantity(Liters)</th>
                <th class="hidden-phone">Total Cost</th>
                <th class="hidden-phone">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="danger" ng-if="(model.dataList.length === 0 && model.isDataLoaded)">
                <td colspan="9">No Records found</td>
            </tr>            
            <tr ng-repeat="fuelEntrie in list = (model.dataList | filter:search)">
                <td>{{::($index+1)}}</td>
                <td>{{::fuelEntrie.driverName | titleCase}}</td>
                <td>{{::vehicle.dataItemById[fuelEntrie.vehicleId].vehicleNo}}</td>
                <td>{{::dealer.dataItemById[fuelEntrie.dealerId].companyName}}</td>
                <td>{{::fuelEntrie.currentOdometerReading}}</td>
                <td>{{::fuelEntrie.litres}}</td>
                <td><i class="fa fa-inr"></i>  {{::fuelEntrie.totalCost}}</td>
                <td>
                    <a ui-sref="fuelEntrieDetail({ isEdit: 'update', editId: fuelEntrie.id })" class="btn btn-xs btn-info" data-original-title="">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a class="btn btn-xs btn-danger" ng-click="confirmDelete(fuelEntrie.id);">
                        <i class="fa fa-trash-o"></i> Delete
                    </a>
                </td>
            </tr>
            <tr ng-if="!model.isDataLoaded" class="success">
                <td colspan="9"><i class="fa fa-spinner fa-pulse"></i>Loading Data...</td>
            </tr>
        </tbody>
    </table>
</ft-panel>