<div class="container-fluid">
   <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-5">      
      <div class="panel panel-default">
         <div class="panel-title">Add Truck Model</div>
         <div class="panel-body">
            <ft-form>

              <search-dropdown ng-model="manufacturer.manufacturerName" selecteditem="manufacturer.selecteditem" source="manufacturer.source.dataList" name="manufacturer" labeltext="Manufacturer" required="true" displayname="manufacturerName"></search-dropdown>

               <ft-text ng-model="model.dataModel.truckModel" name="truckModel" labeltext="Truck Model" required="true"></ft-text>

               

               <div class="row">
                <div class="col-lg-6">
                  <ft-text ng-model="model.dataModel.tonnage" name="tonnage" labeltext="Tonnage" ></ft-text>
                </div>
                <div class="col-lg-6">
                 <ft-text ng-model="model.dataModel.engineCapacity" name="engineCapacity" labeltext="Engine Capacity" ></ft-text>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <ft-text type="radio" source="truckType" ng-model="model.dataModel.truckType" name="truckType" labeltext="Type Of Truck" required="true"></ft-text>
                </div>
                <div class="col-lg-6">
                  <ft-text type="radio" source="aircondition" ng-model="model.dataModel.aircondition" name="aircondition" labeltext="AC Available" required="true"></ft-text>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <ft-text ng-model="model.dataModel.tankCapacity" name="tankCapacity" labeltext="Tank Capacity" ></ft-text>
                </div>
                <div class="col-lg-6">
                  <ft-text ng-model="model.dataModel.tyreSize" name="tyreSize" labeltext="Tyre Size" ></ft-text>
                </div>
              </div>

               

            </ft-form>
         </div>
      </div>
   </div>
   <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-7">
         <table class="table table-striped table-bordered table-hover no-margin">
           <thead>
               <tr>
                   <th>#ID</th>
                   <th class="hidden-phone">Truck Model</th>
                   <th class="hidden-phone">Tonnage</th>
                   <th class="hidden-phone">Tank Capacity</th>
                   <th class="hidden-phone">Tyre Size</th>
                   <th class="hidden-phone">Engine Capacity</th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
               <tr class="danger" ng-if="(model.dataList.length === 0 && model.isDataLoaded)">
                  <td colspan="7">No Records found</td>
              </tr>              
              <tr ng-repeat="item in model.dataList | filter:search" ng-if="model.isDataLoaded">
                   <td>{{$index+1}}</td>
                   <td>{{item.truckModel}}</td>
                   <td>{{item.tonnage}}</td>
                   <td>{{item.tankCapacity}}</td>
                   <td>{{item.tyreSize}}</td>
                   <td>{{item.engineCapacity}}</td>
                   <td class="action-coloumn">
                       <a class="btn btn-xs btn-info" ng-click="edit(item.id)">
                           <i class="fa fa-edit"></i> Edit
                       </a>
                       <a class="btn btn-xs btn-danger" ng-click="confirmDelete(item.id);">
                           <i class="fa fa-trash-o"></i> Delete
                       </a>
                   </td>
               </tr>
               <tr ng-if="!model.isDataLoaded">
                  <td colspan="7"><i class="fa fa-spinner fa-pulse"></i>Loading Data...</td>
              </tr>
           </tbody>
       </table>
      </div>
</div>