<div class="container-fluid subForm">
  <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-title">Add Spare Parts</div>
      <div class="panel-body">
        <ft-form>
        <div class="row">
          <div class="col-lg-6">
            <ft-text type="radio" source="paymentList" ng-model="model.dataModel.paymentMode" name="paymentMode" labeltext="Payment Mode"></ft-text>            
          </div>
          <div class="col-lg-6">
          <ft-text ng-model="model.dataModel.dealerName" name="dealerName" labeltext="Dealer Name"></ft-text>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">          
            <ft-text type="date" ng-model="model.dataModel.purchaseDate" name="date" labeltext="Purchased Date"></ft-text>            
          </div>
          <div class="col-lg-6">
            <ft-text ng-model="model.dataModel.billno" name="billno" labeltext="Bill Number"></ft-text>
          </div>
        </div>

        <div class="row no-gutter">
          <h4>Add Spare Details</h4>
        </div>
        <div class="row no-gutter">
          <table class="table table-striped table-bordered table-hover no-margin">
            <thead>
              <tr>
                <th class="hidden-phone">Spare part</th>
                <th class="hidden-phone">Spare Code</th>
                <th class="hidden-phone">Rate</th>
                <th class="hidden-phone">Quantity</th>
                <th class="hidden-phone">Tax</th>
                <th class="hidden-phone">Discount</th>
                <th class="hidden-phone" style="width:190px;">Warrenty</th>
                <th style="min-width:70px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><ft-text type="text" ng-model="item.part" name="date" labeltext="Spare Part" nolabel="true"></ft-text></td>
                <td><ft-text type="text" ng-model="item.code" name="code" labeltext="Spare Code" nolabel="true"></ft-text></td>
                <td><ft-text type="text" ng-model="item.rate" name="rate" labeltext="Rate" nolabel="true"></ft-text></td>
                <td><ft-text type="text" ng-model="item.quantity" name="quantity" labeltext="Quantity" nolabel="true"></ft-text></td>
                <td><ft-text type="text" ng-model="item.tax" name="tax" labeltext="Tax" nolabel="true"></ft-text></td>
                <td><ft-text type="text" ng-model="item.discount" name="discount" labeltext="Discount" nolabel="true"></ft-text></td>
                <td><ft-text type="date" ng-model="item.warrenty" name="warrenty" labeltext="warrenty" nolabel="true"></ft-text></td>
                <td>
                   <a class="btn btn-xs btn-info" ng-click="edit(spare.id)" style="margin-top:7px;">
                    <i class="fa fa-plus"></i>
                   </a>
                   <a class="btn btn-xs btn-danger" ng-click="confirmDelete(spare.id);" style="margin-top:7px;">
                    <i class="fa fa-minus"></i>
                   </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </ft-form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-4">
    <table class="table table-striped table-bordered table-hover no-margin">
      <thead>
        <tr>
          <th>#ID</th>
          <th class="hidden-phone">Dealer Name</th>
          <th class="hidden-phone">Date</th>
          <th class="hidden-phone">Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="danger" ng-if="(model.dataList.length === 0 && model.isDataLoaded)">
          <td colspan="8">No Records found</td>
        </tr>
        <tr ng-if="!model.isDataLoaded">
          <td colspan="4"><i class="fa fa-spinner fa-pulse"></i>Loading Data...</td>
        </tr>
        <tr ng-repeat="spare in model.dataList | filter:search" ng-if="model.isDataLoaded">
          <td>{{$index+1}}</td>
          <td>{{spare.dealerName}}</td>
          <td>{{spare.purchaseDate}}</td>
          <td>{{spare.amount}}</td>          
          <td>
            <a class="btn btn-xs btn-info" ng-click="edit(spare.id)">
              <i class="fa fa-edit"></i> Edit
            </a>
            <a class="btn btn-xs btn-danger" ng-click="confirmDelete(spare.id);">
              <i class="fa fa-trash-o"></i> Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>