<div class="container-fluid">
   <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-4">      
      <div class="panel panel-default">
         <div class="panel-title">Add Tyre</div>
         <div class="panel-body">
            <ft-form>

              <ft-form-text type="radio" source="paymentList" ng-model="model.paymentMode" name="paymentMode" labeltext="Payment Mode"></ft-form-text>

               <ft-form-text type="date" ng-model="model.date" name="date" labeltext="Date"></ft-form-text>

               <ft-form-text type="select" source="makeList" ng-model="model.make" name="make" labeltext="Make"></ft-form-text>

               <ft-form-text ng-model="model.tyreNo" name="tyreNo" labeltext="Tyre No"></ft-form-text>

               <ft-form-text type="select" ng-model="model.position" source="tyrePositionList" name="position" labeltext="Tyre Position"></ft-form-text>

               <ft-form-text type="select" ng-model="model.dealer" source="vendorList" name="dealer" labeltext="Tyre Dealer"></ft-form-text>

               <ft-form-text type="date" ng-model="model.warrentyDate" name="warrentyDate" labeltext="Warrenty Expiry Date"></ft-form-text>

               <ft-form-text ng-model="model.price" name="price" labeltext="Amount"></ft-form-text>

               <ft-form-text ng-model="model.receiptNo" name="receiptNo" labeltext="receiptNo"></ft-form-text>
              
            </ft-form>
         </div>
      </div>
   </div>
   <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-7 col-lg-offset-1">
         <table class="table table-striped table-bordered table-hover no-margin">
           <thead>
               <tr>
                   <th>#ID</th>
                   <th class="hidden-phone">Dealer</th>
                   <th class="hidden-phone">Purchased Date</th>
                   <th class="hidden-phone">Warrenty Date</th>
                   <th class="hidden-phone">Price</th>
                   <th class="hidden-phone"></th>
               </tr>
           </thead>
           <tbody>
               <tr class="danger" ng-if="tyreList.length === 0">
                   <td colspan="6">No Records found</td>
               </tr>
               <tr ng-repeat="tyre in tyreList | filter:search">
                   <td>{{$index+1}}</td>
                   <td>{{tyre.dealer}}</td>
                   <td>{{tyre.date}}</td>
                   <td>{{tyre.warrentyDate}}</td>
                   <td>{{tyre.price}}</td>
                   <td>
                       <a class="btn btn-xs btn-info" ng-click="edit(tyre.id)">
                           <i class="fa fa-edit"></i> Edit
                       </a>
                       <a class="btn btn-xs btn-danger" ng-click="confirmDelete(tyre.id);">
                           <i class="fa fa-trash-o"></i> Delete
                       </a>
                   </td>
               </tr>
           </tbody>
       </table>
      </div>
</div>