<div class="container-fluid">
   <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-4">      
      <div class="panel panel-default">
         <div class="panel-title">Add FC</div>
         <div class="panel-body">
            <ft-form>
               <ft-form-text type="radio" source="paymentList" ng-model="model.paymentMode" name="paymentMode" labeltext="Payment Mode"></ft-form-text>

               <ft-form-text type="date" ng-model="model.purchaseDate" name="date" labeltext="Purchased Date"></ft-form-text>

               <ft-form-text ng-model="model.companyName" name="companyName" labeltext="Company Name"></ft-form-text>

               <ft-form-text ng-model="model.policyNo" name="policyNo" labeltext="Policy No"></ft-form-text>

               <ft-form-text ng-model="model.amount" name="amount" labeltext="Amount"></ft-form-text>

               <ft-form-text ng-model="model.coverageLimit" name="coverageLimit" labeltext="Coverage Limit"></ft-form-text>             
            </ft-form>
         </div>
      </div>
   </div>
   <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-7 col-lg-offset-1">
         <table class="table table-striped table-bordered table-hover no-margin">
           <thead>
               <tr>
                   <th>#ID</th>
                   <th class="hidden-phone">Company Name</th>
                   <th class="hidden-phone">Purchase Date</th>
                   <th class="hidden-phone">Policy No</th>
                   <th class="hidden-phone">Amount</th>
                   <th class="hidden-phone">Coverage Limit</th>
               </tr>
           </thead>
           <tbody>
               <tr class="danger" ng-if="spareList.length === 0">
                   <td colspan="6">No Records found</td>
               </tr>
               <tr ng-repeat="spare in spareList | filter:search">
                   <td>{{$index+1}}</td>
                   <td>{{spare.companyName}}</td>
                   <td>{{spare.purchaseDate}}</td>
                   <td>{{spare.policyNo}}</td>
                   <td>{{spare.amount}}</td>
                   <td>
                       <a class="btn btn-xs btn-info" ng-click="edit(spare.id)">
                           <i class="fa fa-edit"></i> Edit
                       </a>
                       <a class="btn btn-xs btn-danger" ng-click="confirmDelete(spare.id);">
                           <i class="fa fa-trash-o"></i> Delete
                       </a>
                   </td>
               </tr>
           </tbody>
       </table>
      </div>
</div>