<div class="container-fluid">
   <ft-form>
      <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-4">

         <ft-form-text type="radio" source="ownershipList" ng-model="model.dataModel.ownershipType" name="typeOfOwnership" labeltext="Ownership" required="true"></ft-form-text>
         
         <!-- Name attribute require to check duplicate -->
         <ft-form-text ng-model="model.dataModel.vehicleNo" check-duplicate-in="model.dataList" name="vehicleNo" labeltext="Vehicle No" required="true"></ft-form-text> 

         <ft-form-text type="date" ng-model="model.dataModel.date" name="date" labeltext="Purchased Date"></ft-form-text>

         <ft-form-text ng-model="model.dataModel.amtPurchased" name="amtPurchased" labeltext="Purchased Amt"></ft-form-text>

      </div>
      <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-4">

         <ft-form-text ng-model="model.dataModel.modelYear" name="modelYear" labeltext="Model"></ft-form-text>

         <ft-form-text ng-model="model.dataModel.owner" name="owner" labeltext="Owner" required="true"></ft-form-text>

         <search-dropdown ng-model="model.dataModel.make" source="makeList" name="make" labeltext="Make" required="true"></search-dropdown>

         <search-dropdown ng-model="model.dataModel.fuelType" source="fuelList" name="fuelType" labeltext="Fuel Type" required="true"></search-dropdown>

      </div>
      <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-4">

         <search-dropdown ng-model="model.dataModel.type" source="typeList" name="type" labeltext="Vehicle Type" required="true"></search-dropdown>

         <ft-form-text ng-model="model.dataModel.chasisNo" name="chasisNo" labeltext="chasisNo"></ft-form-text>

         <ft-form-text ng-model="model.dataModel.engineNo" name="engineNo" labeltext="engineNo"></ft-form-text>

         <ft-form-text ng-model="model.dataModel.odometer" name="odometer" labeltext="odometer"></ft-form-text>

      </div>
   </ft-form>
</div>