<div class="container-fluid">
   <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-4">      
      <div class="panel panel-default">
         <div class="panel-title">Add Battery</div>
         <div class="panel-body">
            <ft-form>

              <ft-form-text type="radio" source="paymentList" ng-model="model.dataModel.paymentMode" name="paymentMode" labeltext="Payment Mode"></ft-form-text>

               <ft-form-text type="date" ng-model="model.dataModel.date" name="date" labeltext="Date"></ft-form-text>

               <search-dropdown ng-model="model.dataModel.make" source="makeList" name="make" labeltext="Make"></search-dropdown>

               <ft-form-text ng-model="model.dataModel.batteryNo" name="batteryNo" labeltext="Battery No"></ft-form-text>

               <search-dropdown ng-model="model.dataModel.dealer" source="vendorList" name="dealer" labeltext="Battery Dealer"></search-dropdown>

               <ft-form-text type="date" ng-model="model.dataModel.warrentyDate" name="warrentyDate" labeltext="Warrenty Expiry Date"></ft-form-text>

               <ft-form-text ng-model="model.dataModel.price" name="price" labeltext="Amount"></ft-form-text>

               <ft-form-text ng-model="model.dataModel.receiptNo" name="receiptNo" labeltext="receiptNo"></ft-form-text>
              
            </ft-form>
         </div>
      </div>
   </div>
   <div class="col-sm-12 col-sm-12 col-xs-12 col-lg-7 col-lg-offset-1">
         <table class="table table-striped table-bordered table-hover no-margin">
           <thead>
               <tr>
                   <th>#ID</th>
                   <th class="hidden-phone">Dealer</th>
                   <th class="hidden-phone">Purchased Date</th>
                   <th class="hidden-phone">Warrenty Date</th>
                   <th class="hidden-phone">Price</th>
                   <th class="hidden-phone"></th>
               </tr>
           </thead>
           <tbody>
               <tr class="danger" ng-if="(model.dataList.length === 0 && isDataLoaded)">
                  <td colspan="6">No Records found</td>
              </tr>
              <tr ng-if="!isDataLoaded">
                  <td colspan="6"><i class="fa fa-spinner fa-pulse"></i>Loading Data...</td>
              </tr>
               <tr ng-repeat="battery in model.dataList | filter:search">
                   <td>{{$index+1}}</td>
                   <td>{{battery.dealer}}</td>
                   <td>{{battery.date}}</td>
                   <td>{{battery.warrentyDate}}</td>
                   <td>{{battery.price}}</td>
                   <td>
                       <a class="btn btn-xs btn-info" ng-click="edit(battery.id)">
                           <i class="fa fa-edit"></i> Edit
                       </a>
                       <a class="btn btn-xs btn-danger" ng-click="confirmDelete(battery.id);">
                           <i class="fa fa-trash-o"></i> Delete
                       </a>
                   </td>
               </tr>
           </tbody>
       </table>
      </div>
</div>