<ft-panel>
    <table class="table table-striped table-bordered table-hover no-margin">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Vechile No</th>
                <th>Dealer</th>
                <th class="hidden-phone">Bill Date</th>
                <th class="hidden-phone">Bill Number</th>
                <th class="hidden-phone">Labour Charge</th>
            </tr>
        </thead>
        <tbody>
            <tr class="danger" ng-if="(model.dataList.length === 0 && model.isDataLoaded)">
                <td colspan="7">No Records found</td>
            </tr>            
            <tr ng-repeat="workOrder in list = (model.dataList | filter:search)"  ng-if="model.isDataLoaded">
                <td>{{::($index+1)}}</td>
                <td>{{::workOrder.vehicle}}</td>
                <td>{{::workOrder.dealer}}</td>
                <td>{{::workOrder.billDate}}</td>
                <td>{{::workOrder.billNo}}</td>
                <td>{{::workOrder.labour}}</td>
                <td>
                    <a ui-sref="{{$state.current.data.addUri}}Detail({ isEdit: 'update', editId: workOrder.id })" class="btn btn-xs btn-info" data-original-title="">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a class="btn btn-xs btn-danger" ng-click="confirmDelete(owner.id);">
                        <i class="fa fa-trash-o"></i> Delete
                    </a>
                </td>
            </tr>
            <tr ng-if="!model.isDataLoaded" class="success">
                <td colspan="7"><i class="fa fa-spinner fa-pulse"></i>Loading Data...</td>
            </tr>
        </tbody>
    </table>
</ft-panel>