<ft-panel>
    <table class="table table-striped table-bordered table-hover no-margin">
        <thead>
            <tr>
                <th style="width:40px;"></th>
                <th style="width:40px;">ID</th>
                <th>Bill Date</th>
                <th>Vechile No</th>
                <th>Dealer</th>                
                <th>Bill Number</th>
                <th>Amount</th>
                <th>Comment</th>
                <th style="width:134px"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="danger" ng-if="(model.dataList.length === 0 && model.isDataLoaded)">
                <td colspan="9">No Records found</td>
            </tr>
            <tr ng-if="!model.isDataLoaded" class="success">
                <td colspan="9"><i class="fa fa-spinner fa-pulse"></i>Loading Data...</td>
            </tr>
        </tbody>
        <tbody ng-repeat="workOrder in list = (model.dataList | filter:search)" ng-if="model.isDataLoaded">
            <tr>
                <td>
                    <a class="btn btn-xs btn-info" ng-click="workOrder.open = !workOrder.open" style="margin-left:5px;">
                        <i class="fa fa-plus" ng-if="!workOrder.open"></i>
                        <i class="fa fa-minus" ng-if="workOrder.open"></i>
                    </a>
                </td>
                <td>{{::workOrder.id}}</td>
                <td>{{::workOrder.billDate}}</td>
                <td>{{::vehicle.dataItemById[workOrder.vehicleId].vehicleNo}}</td>
                <td>{{::dealer.dataItemById[workOrder.dealerId].companyName}}</td>                
                <td>{{::workOrder.billNumber}}</td>
                <td><i class="fa fa-inr"></i> {{::(workOrder.workorderType === 'L') ? workOrder.labour: totalSpareAmount(workOrder)}}</td>
                <td>{{::workOrder.comment}}</td>
                <td>
                    <a ui-sref="{{$state.current.data.addUri}}Detail({ isEdit: 'update', editId: workOrder.id })" class="btn btn-xs btn-info" data-original-title="">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a class="btn btn-xs btn-danger" ng-click="confirmDelete(workOrder.id);">
                        <i class="fa fa-trash-o"></i> Delete
                    </a>
                </td>
            </tr>
            <tr ng-if="workOrder.open">
                <td colspan="9">
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-striped table-bordered table-hover" ng-if="workOrder.spareList.length>0">
                            <thead>
                                <tr>
                                    <th>Spare</th>
                                    <th>Rate</th>
                                    <th>Quantity</th>
                                    <th>Tax</th>
                                    <th>Discount</th>
                                    <th>Warrenty</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="itemObj in workOrder.spareList">
                                    <td>{{::itemObj.spare}}</td>
                                    <td><i class="fa fa-inr"></i> {{::itemObj.rate}}</td>
                                    <td>{{::itemObj.quantity}}</td>
                                    <td>{{::itemObj.tax}}</td>
                                    <td>{{::itemObj.discount}}</td>
                                    <td>{{::itemObj.warrenty}}</td>
                                    <td><i class="fa fa-inr"></i> {{::(itemObj.quantity * itemObj.rate)}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-bordered table-hover" ng-if="workOrder.labourList.length>0">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Technician</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="itemObj in workOrder.labourList">
                                    <td>{{::itemObj.task}}</td>
                                    <td>{{::itemObj.technician}}</td>
                                    <td><i class="fa fa-inr"></i> {{::(itemObj.amount)}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row no-gutter pull-right">Total Amount :<i class="fa fa-inr"></i> {{totalAmount(workOrder)}}</div>
                    </div>
                </td>
            </tr>            
        </tbody>
    </table>
</ft-panel>