<ft-panel>
    <ft-form>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <ft-text type="radio" source="paymentList" ng-model="model.dataModel.paymentMode" name="paymentMode" labeltext="Payment Mode"></ft-text>

            <search-dropdown ng-model="vehicle.vehicleNo" selecteditem="vehicle.selectedItem" source="vehicle.model.dataList" name="vehicleNo" labeltext="vehicle No" required="true" displayname="vehicleNo"></search-dropdown>

            <ft-text type="text" ng-model="model.dataModel.labour" name="labour" labeltext="Labour" ng-if="model.dataModel.workorderType !== 'S'" isnumber="true"></ft-text>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <ft-text type="text" ng-model="model.dataModel.billNumber" name="billno" labeltext="Bill Number"></ft-text>

            <ft-text type="date" ng-model="model.dataModel.billDate" name="billdate" labeltext="Bill Date"></ft-text>

            <ft-text type="text" ng-model="model.dataModel.comment" name="comment" labeltext="Comment" ng-if="model.dataModel.workorderType !== 'S'"></ft-text>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <search-dropdown ng-model="dealer.selectedName" selecteditem="dealer.selectedItem" source="dealer.model.dataList" name="dealer" labeltext="Dealer" required="true" displayname="companyName"></search-dropdown>

            <ft-text type="radio" source="workOrderList" ng-model="model.dataModel.workorderType" name="workorderType" labeltext="Work Order Type"></ft-text>
            
        </div>
        <div class="col-md-10" ng-if="model.dataModel.workorderType === 'S'">
            <div class="row no-gutter">
              <h4>Add Spare Details</h4>
            </div>
            <div class="row no-gutter">
              <table class="table table-striped table-bordered table-hover no-margin">
                <thead>
                  <tr>
                    <th>Spare part</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Tax</th>
                    <th>Discount</th>
                    <th class="hidden-phone" style="width:190px;">Warrenty</th>
                    <th style="min-width:70px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in model.dataModel.spareList">
                    <td><ft-text type="text" ng-model="item.spare" name="date" labeltext="Spare Part" nolabel="true"></ft-text></td>
                    <td><ft-text type="text" ng-model="item.rate" name="rate" labeltext="Rate" nolabel="true"></ft-text></td>
                    <td><ft-text type="text" ng-model="item.quantity" name="quantity" labeltext="Quantity" nolabel="true"></ft-text></td>
                    <td><ft-text type="text" ng-model="item.tax" name="tax" labeltext="Tax" nolabel="true"></ft-text></td>
                    <td><ft-text type="text" ng-model="item.discount" name="discount" labeltext="Discount" nolabel="true"></ft-text></td>
                    <td><ft-text type="date" ng-model="item.warrenty" name="warrenty" labeltext="warrenty" nolabel="true"></ft-text></td>
                    <td>
                       <a class="btn btn-xs btn-info" ng-click="addSpare()" style="margin-top:7px;" ng-if="$last">
                        <i class="fa fa-plus"></i>
                       </a>
                       <a class="btn btn-xs btn-danger" ng-click="deleteSpare($index);" style="margin-top:7px;" ng-if="model.dataModel.spareList.length>1">
                        <i class="fa fa-minus"></i>
                       </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row no-gutter pull-right">Total Amount :<i class="fa fa-inr"></i> {{totalSpareAmount()}}</div>
        </div>
    </ft-form>       
</ft-panel>
