<div ng-if='form.$invalid && form.$touched' class="help-block" role="alert">
	<p ng-if="form.$error.required">This field is mandatory</p>
	<p ng-if="form.$error.pattern">Pattern is not correct</p>
	<p ng-if="form.$error.minlen">Atleast you have to enter minimum {{opts.minlength}} charaters</p>
	<p ng-if="form.$error.maxlen">Only maximum of {{opts.maxlength}} charaters allowed</p>
	<p ng-if="form.$error.email">Invalid email address</p>
	<p ng-if="form.$error.isNotNumber">Only Number is allowed</p>
</div>