<div class="form-group" ng-class="{ 'has-error' : form.$invalid && form.$touched}" style="margin:3px 10px;">
    <label class="control-label" for="{{opts.name}}" style="margin:10px 0 5px;padding:0;">{{opts.labeltext | titleCase}}</label>
    <div>      
      <div ng-show="opts.type === 'text' || opts.type === 'email'">
        <input  type="{{opts.type}}" 
                class="form-control" 
                name="{{opts.name}}" 
                placeholder="Enter {{opts.labeltext}}" 
                ng-model="model" ng-show="opts.type === 'text' || opts.type === 'email'"/>
      </div>

      <div ng-show="opts.type === 'select'">
        <select class="form-control" name="{{opts.name}}" ng-model="model" ng-show="opts.type === 'select'">
            <option value="">-- Select {{opts.labeltext}} --</option>
            <option ng-repeat="itemObj in source" value="{{itemObj.id}}">{{itemObj.name}}</option>
        </select>
      </div>
      
      <div class="radio" ng-show="opts.type === 'radio'" style="height:34px;">
          <label ng-repeat="itemObj in source" for="{{opts.name}}">
            <input type="radio" name="{{opts.name}}" value="{{itemObj.value}}" ng-model="$parent.model" />
            {{itemObj.label}}
          </label>
      </div>

      <p class="input-group" ng-if="opts.type === 'date'" style="margin:0px;">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model" is-open="opened" max-date="opts.maxDate" datepickerOptions="dateOptions" close-text="Close" show-button-bar="false" />
            
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
        </span>
      </p>

      <div ng-if="opts.type === 'search'">
        <div  select-search="source"
              ss-class="form-control"
              ss-height="300"
              ss-name="{{opts.name}}"
              ng-model="model" ></div>
      </div>

      <div ng-if='form.$invalid && form.$touched' class="help-block" role="alert">
        <p ng-if="form.$error.required">This field is mandatory</p>
        <p ng-if="form.$error.pattern">Pattern is not correct</p>
        <p ng-if="form.$error.minlen">Atleast you have to enter minimum {{opts.minlen}} {{opts.name}}</p>
        <p ng-if="form.$error.maxlen">Maximum Length is not met</p>
        <p ng-if="form.$error.email">Invalid email address</p>
      </div>
    </div>
</div>