<div class="form-group" ng-class="{ 'has-error' : form.$invalid && form.$touched}" style="margin:3px 10px;">
    <label class="control-label" for="{{opts.name}}" style="margin:10px 0 5px;padding:0;">{{opts.labeltext | titleCase}}</label>
    <div>      
      <div ng-show="opts.type === 'text' || opts.type === 'email'">
        <input  type="text" 
                class="form-control" 
                name="{{opts.name}}" 
                placeholder="Enter {{opts.labeltext}}" 
                ng-model="model" />
      </div>
      
      <div class="radio" ng-show="opts.type === 'radio'" style="height:34px;">
          <label ng-repeat="itemObj in source" for="{{opts.name}}">
            <input type="radio" name="{{opts.name}}" value="{{itemObj.value}}" ng-model="$parent.model" />
            {{itemObj.label}}
          </label>
      </div>

      <p class="input-group" ng-if="opts.type === 'date'" style="margin:0px;">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.model" is-open="opened" max-date="opts.maxDate" datepickerOptions="dateOptions" close-text="Close" show-button-bar="false" />
            
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
        </span>
      </p>

      <div ng-include="'tpl/component/errorBlock.html'"></div>
    </div>
</div>