<div class="form-group" ng-class="{ 'has-error' : form.$invalid && form.$touched}" style="margin:3px 10px;">
    <label class="control-label" for="{{opts.name}}" style="margin:10px 0 5px;padding:0;">{{opts.labeltext | titleCase}}</label>
    <div>
        <div class="bootstrap-select">
            <input type="text" class="form-control" ng-model="model" name="{{opts.name}}" placeholder="Select {{opts.name}}" />
            <i class="fa fa-chevron-down"></i>
            <ul class="dropdown-custom" ng-if="opened">
                <li ng-if="filteredItems.length==0">No Records Found</li>
                <li ng-repeat="item in (filteredItems = (source | filter: search))" ng-class="{ active: (item.id === selecteditem.id) }">    
                    <a ng-click="setSelected(item.id)">{{item[opts.displayname]}}</a>
                </li>
            </ul>
        </div>
        <div ng-include="'tpl/component/errorBlock.html'"></div>
    </div>
</div>