<div class="form-group" ng-class="{ 'has-error' : form.$invalid && form.$touched}" style="margin:3px 10px;">
    <label class="control-label" for="{{opts.name}}" style="margin:10px 0 5px;padding:0;">{{opts.labeltext | titleCase}}</label>
    <div>
      <tags-input display-property="name" ng-model="selectedTags" add-from-autocomplete-only="true" on-tag-added="onTagAdded();" on-tag-removed="onTagAdded();"><auto-complete source="source"></auto-complete></tags-input>

      <div ng-include="'tpl/component/errorBlock.html'"></div>
    </div>
</div>